.contact-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  cursor: pointer;
}

.contact-list-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-list-button {
  margin: 0 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.contact-list-icon {
  padding: 0px;
}