.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  border-radius: 8px;
  text-align: center;
  width: 90vw;
  height: 90vh;
  max-width: 600px;
  overflow: auto;
  display: grid;
  padding-bottom: 20px;
}

.modal-content {
  overflow: auto;
  display: grid;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.modal-header {
  padding: 20px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-footer{
  padding: 0px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button,
.cancel-button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
}

.cancel-button {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
}

.cancel-button:hover {
  background-color: #f0f0f0;
}

.error {
  color: red;
  margin-top: 10px;
}