.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
}

.toast {
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
    max-width: 300px;
}

.toast.success {
    background-color: #5bac5e;
    color: #FFFFFF;
}

.toast.error {
    background-color: #c44b42;
    color: #FFFFFF;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}